---
// import { SITE, SOCIALS } from "@consts"
import Container from "../../components/Container.astro"
import { SITE } from "../../lib/consts"
---

<footer class="relative bg-white/75 dark:bg-black/50 border-black/10 dark:border-white/25 backdrop-blur-sm saturate-200">
  <div class="animate scrolled">
  
    <section class=" py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25">
      <Container size="md">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <div class="flex flex-col items-center sm:items-start">
            <a href="/" class="flex gap-1 w-fit font-semibold text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
              <img src="/1950venture-logo.png" alt="1950 Ventures Logo" class="h-10" />
            </a>
          </div>
          <div class="flex gap-2 justify-center sm:justify-end items-center">
            <a href="/legal/terms" class="text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
              Terms
            </a> |
            <a href="/legal/privacy" class="text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out">
              Privacy
            </a>
          </div>
        </div>
      </Container>
    </section>
  
    <section class=" py-5 overflow-hidden whitespace-nowrap border-t border-black/10 dark:border-white/25">
      <Container size="lg">
          <div class="flex flex-col items-center justify-center">
    
            <div class="text-sm mt-2">
              &copy; 2024 | All rights reserved
            </div>
          </div>
  
      </Container>
    </section>
  </div>

</footer>

<script is:inline>
  function goBackToTop(event) {
    event.preventDefault()
    window.scrollTo({
        top: 0,
        behavior: "smooth"
    })
  }

  function inintializeBackToTop() {
    const backToTop = document.getElementById("back-to-top")
    backToTop?.addEventListener("click", goBackToTop)
  }

  document.addEventListener("astro:after-swap", inintializeBackToTop)
  inintializeBackToTop()
</script>