@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  color-scheme: dark;
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-y: scroll;
  
}

html.dark {
  color-scheme: dark;
  background-color: black;
}

html,
body {
  @apply h-full w-full antialiased;
  /* @apply bg-white dark:bg-black; */
  @apply text-black/75 dark:text-white/75;
  font-family: "Roboto", sans-serif;
   /* background: linear-gradient( -54deg, #190230 -23%, #190230, #190230 51% ); */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */ 

}

body {
  @apply relative flex flex-col;
}

main {
  @apply flex flex-col flex-1 bg-white dark:bg-black;
}

header {
  @apply border-b;
  @apply transition-all duration-300 ease-in-out;
}

header:not(.scrolled) {
  @apply bg-transparent border-transparent;
}

header.scrolled {
  @apply bg-white/75 dark:bg-black/50;
  @apply border-black/10 dark:border-white/25;
  @apply backdrop-blur-sm saturate-200;
}

footer.scrolled {
  @apply bg-white/75 dark:bg-black/50;
  @apply border-black/10 dark:border-white/25;
  @apply backdrop-blur-sm saturate-200;
}

.page-heading {
  @apply font-semibold text-black dark:text-white;
}

.blend {
  @apply transition-all duration-300 ease-in-out;
}
