---
import Contactform from "../components/ContactForm.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Us">
  <style>
    .bg-fixed {
      background-image: url("/backgroundSecondary.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

  <section
    class="relative text-black h-[80vh] flex items-center justify-center bg-fixed mt-12 md:mt-7"
  >
    <!-- Overlay to dim the background -->
    <div class="absolute top-0 left-0 w-full bg-gray-200 opacity-50"></div>

    <!-- Content -->
        <Contactform client:load />
    <!-- <div
      class="relative container px-4 mx-auto max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl z-10 sm:mt-10"
    >
      <form
        class="bg-gray-400 bg-opacity-10 backdrop-filter backdrop-blur-lg p-6 sm:p-8 rounded-lg shadow-md"
      >
        <div class="mb-4">
          <label for="name" class="block text-black font-bold mb-2">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="w-full px-3 py-2 rounded-lg bg-white bg-opacity-20 text-black border-2 border-black focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block text-black font-bold mb-2"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="w-full px-3 py-2 rounded-lg bg-white bg-opacity-20 text-black border-2 border-black focus:outline-none focus:ring-2 focus:ring-blue-500"
            required
          />
        </div>
        <div class="mb-4">
          <label for="message" class="block text-black font-bold mb-2"
            >Message</label
          >
          <textarea
            id="message"
            name="message"
            rows="5"
            class="w-full px-3 py-2 rounded-lg bg-white bg-opacity-20 text-black border-2 border-black focus:outline-none focus:ring-2 focus:ring-blue-500"
            required></textarea>
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="px-6 py-2 w-full sm:w-auto rounded-lg bg-blue-600 hover:bg-blue-700 text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
            >Submit</button
          >
        </div>
      </form>
    </div> -->
  </section>
</Layout>
