---
import Layout from "../layouts/Layout.astro";
import Indexcard from "../components/indexcard.astro";
---

<Layout title="About">
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

    .text-custom {
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      font-size: 1.2rem;
      line-height: 2.5rem;
    }

    .highlight {
      background-color: rgba(0, 0, 255, 0.5);
      font-weight: 400;
    }

    .header-color {
      color: #b0b0b0;
      font-size: 1rem;
      margin-top: 100px;
    }

    .content-container {
      width: 75%;
      margin-left: 7%;
    }

    /* Animation */
    @keyframes slideUp {
      from {
        transform: translateY(20px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .animated-text {
      animation: slideUp 1s ease-out;
    }

    /* Parallax effect */
    .parallax {
      background-image: url("/background.jpeg");
      height: 100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.25);
    }

    /* Hide scrollbar */
    body::-webkit-scrollbar {
      display: none;
    }
    body {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  </style>

  <section class="relative py-12 text-white text-custom parallax">
    <div class="overlay"></div>
    <div class="relative container px-4 content-container">
      <h1 class="text-xs mb-2 header-color animated-text">#About us</h1>
      <p class="mb-8 animated-text">
        At 1950 Ventures, we seek to generate outstanding returns by <span
          class="highlight">Investing</span
        >, <span class="highlight">Incubating</span>, and <span
          class="highlight">Endorsing AI-first companies</span
        > building the "Intelligence Economy". We believe in <span
          class="highlight"
          >connecting entrepreneurs, engineers, industry experts, executives,
          and investors</span
        >, bringing the collective power of the network to harness the
        incredible potential of artificial intelligence.
      </p>
      <p class="mb-8 animated-text">
        We are long term investors, helping bold builders of the future realize
        their ambition, harnessing the potential of AI and deep-technology, with
        population scale impact in reshaping tomorrow’s world.
      </p>
      <Indexcard/>
    </div>
  </section>
</Layout>
