---
import Container from "../components/Container.astro";
import InfoCard from "../components/InfoCard.astro";
import Layout from "../layouts/Layout.astro";

const data1 = [
  {
    title: "The Turing Test",
    description:
      "In 1950, Alan Turing in his seminal paper 'Computing Machinery and Intelligence' boldly asked, 'can machines think?'. Since then, the Turing Test has become a central concept in the field of Artificial Intelligence.",
  },
  {
    title: "The IITs",
    description:
      "In 1950, the Indian Institutes of Technology were established with a motto to 'lead me from darkness to light' and set the foundations for engineering education in the country.",
  },
  {
    title: "1950 Ventures",
    description:
      "At 1950 Ventures, we invest in entrepreneurs primarily from India who are leading technology innovation to build a brighter future for the world.",
  },
];

const data2 = [
  {
    description:
      "We are long-term investors, helping bold builders of the future realize their ambition, harnessing the potential of AI and deep-technology, with population scale impact in reshaping tomorrow’s world.",
  },
  {
    description:
      "Our leadership team has over 125+ years of combined experience in underwriting technology and mentoring businesses to commercialize and grow globally.",
  },
  {
    description:
      "We have a profound understanding of what it takes to nurture and grow deep-technology companies from idea to global scale, built through our first-hand experience with AI businesses and insights from advising major corporates.",
  },
];

const data3 = [
  {
    title: "Growth",
    description:
      "We bring the pragmatism and focus required for targeted business development aligned to the sophisticated and protracted purchase cycles of corporates.",
  },
  {
    title: "Scale",
    description:
      "We help our founders navigate the complexities of scaling their operations safely and efficiently in compliance with evolving regulatory requirements.",
  },
  {
    title: "Network",
    description:
      "We have a broad network of relationships across sectors and geographies and provide access to an unmatched ecosystem of subject matter experts as well as peers.",
  },
];
---

<Layout title="About">
  <section class="relative text-black z-10">
    <Container size="lg">
      <div
        class="relative max-h-[85vh] lg:max-h-[88vh] overflow-y-auto pt-20 scrollbar-hidden"
      >
        <!-- 1950 Section -->
        <div>
          <InfoCard description={data1} imageText="1950" />
        </div>
        <div>
          <InfoCard description={data2} imageText="Who we are" />
        </div>
        <div>
          <InfoCard description={data3} imageText="Value add" />
        </div>
      </div>
    </Container>
  </section>
</Layout>

<style>
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
</style>
