---
import AboutUs from "../components/AboutUs.astro";
import Container from "../components/Container.astro";
import InfoCard from "../components/InfoCard.astro";
import InfoCardFull from "../components/InfoCardFull.astro";
import Layout from "../layouts/Layout.astro";

const data1 = [
  {
    description:
      "Our leadership team has over 125+ years of combined experience in underwriting technology and mentoring businesses to commercialize and grow globally.",
  },
  {
    description:
      "We have a clear understanding of what it takes to nurture and grow deep-technology companies from idea to global scale, built through our first-hand experience with AI businesses and insights from advising major corporates.",
  },
];

const data2 = [
  {
    title: 'Growth',
    description:
      "Pragmatism and focus required for targeted business development aligned to the sophisticated and protracted purchase cycles of corporates.",
  },
  {
    title: 'Scale',
    description:
      "Helping our founders navigate the complexities of scaling their operations safely and efficiently in compliance with evolving regulatory requirements.",
  },
  {
    title: 'Network',
    description:
      "A broad network of relationships across sectors and geographies and provide access to an unmatched ecosystem of subject matter experts as well as peers.",
  },
];

const data3 = [
  {
    description:
      "In 1950, Alan Turing in his seminal paper 'Computing Machinery and Intelligence' boldly asked, 'can machines think?'. Since <span class='bg-blue-300'>then, the Turing</span> Test has become a central concept in the field of Artificial Intelligence.",
  },
  {
    description:
      "In 1950, the Indian Institutes of Technology were established with a motto to <span class='bg-blue-300'>'lead me from darkness to light'</span> and set the foundations for engineering education in the country.",
  },
];

---

<Layout title="About">
  <section class="relative text-black">
    <div class="bg-[#ffffffD9] py-20 w-full">
    <Container size="lg" >
      <AboutUs />
    </Container>
  </div>

  <div class="bg-[#005b96D9] w-full py-20">
    <Container size="lg">
      <InfoCardFull description={data1} imageText="Who we are" color="#005b96" textColor="#ffffff"/>
    </Container>
  </div>

  <div class="bg-[#8a9fb1D9] w-full py-20">
    <Container size="lg" >
      <InfoCardFull description={data2} imageText="The value we bring" color="#8a9fb1" textColor="#ffffff"/>
    </Container>
  </div>

  <div class="bg-[#ffffffD9] w-full py-20">
    <Container size="lg" >
      <InfoCardFull description={data3} imageText="Why 1950 ?" color="#ddeaf8" textColor="#005b96" />
    </Container>
  </div>

  </section>
</Layout>

<style>
  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
</style>
