---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of Use & Privacy">
  <section class="relative py-9 text-black text-xl ">
    <div class="relative container mx-auto px-4 content-container">
      <h1 class="text-4xl font-bold mt-10">Terms</h1>

      <article class="text-black space-y-6">
        <section>
          <h2 class="text-2xl font-semibold mt-2">General</h2>
          <p>
            Please read the following terms and conditions (“Terms”). They govern your use of this website and its associated services, including email newsletters, associated content distribution platforms, and public 1950 online social media accounts (collectively, “the Services”). By using the Services, you agree to be bound by these Terms. We may update these Terms from time to time, and any modifications will be effective immediately upon posting unless we indicate otherwise. If you use the Services after any changes to the Terms have been posted, that means you agree to all of the changes. We suggest that you review these Terms periodically for changes.
          </p>
        </section>

        <section>
          <h2 class="text-2xl font-semibold mb-4 ">Intellectual Property</h2>
          <p>
            Except as otherwise noted on the Services, all content and material on the Services — including information, photos, podcasts, blog posts, videos, graphics/charts, icons, code, design, and overall appearance — are the property of (1950) and should not be used, modified, or reproduced without our prior written consent. All trademarks, trade names, and logos displayed on the Services are the property of Andreessen Horowitz, its affiliates, or their respective third-party owners, and the Services grants no license to them.1950 is registered trademarks in the United States and/or other countries and may not be used without the prior written permission of 1950.
          </p>
        </section>

        <section>
          <h2 class="text-2xl font-semibold mb-4">Investment Disclaimers</h2>
          <p>
            1950 is an investment adviser registered with the Securities and Exchange Commission. The Services are intended solely to provide general information about 1950, its services to entrepreneurs, and its people. Nothing in the Services is directed at nor should be relied upon by any investors or prospective investors in any vehicle managed by 1950. 1950 does not intend to solicit or make its investment advisory services available to the general public.
          </p>
          <p>
            Under no circumstances should any information provided in the Services be considered as an offer soliciting the purchase or sale of any security or interest in any pooled investment vehicle sponsored, discussed, or mentioned by 1950, nor should it be construed as an offer to provide investment advisory services. Such offers or solicitations will be made separately and only by means of the confidential offering documents of the specific pooled investment vehicles, which should be read in their entirety, and only to those who, among other requirements, meet certain qualifications under federal securities laws.
          </p>
        </section>

        <section>
          <h2 class="text-2xl font-semibold mb-4 ">Forward-Looking Statements</h2>
          <p>
            Certain statements that individual personnel make may constitute “forward-looking statements” under the Privacy Securities Litigation Reform Act of 1995. To the extent any information herein constitutes forward-looking statements (which can be identified by the use of forward-looking terminology such as “may,” “will,” “should,” “expect,” “anticipate,” “upside,” “potential,” “project,” “estimate,” “intend,” “forecast,” “target,” or “believe” or comparable terminology), please note that, due to various risks and uncertainties, actual events, results, or performance may differ materially from those reflected or contemplated in such statements.
          </p>
          <p>
            Forward-looking statements are not guarantees and involve risks, uncertainties, and assumptions. 1950 expressly disclaims any obligation to update any forward-looking statement in the event it later turns out to be inaccurate — whether as a result of new information, future events, or otherwise.
          </p>
        </section>

        <section>
          <h2 class="text-2xl font-semibold mb-4">Disclaimer of Warranties</h2>
          <p>
            The content of this website is presented on an “as is” basis with no warranties, express or implied, of any kind with respect to the Services. Charts provided herein are for informational purposes only and should not be relied upon when making any investment decision.
          </p>
          <p>
            Past results of 1950 pooled investment vehicles, investments, or investment strategies are not necessarily indicative of future results. Registration with the SEC does not imply a certain level of skill or training.
          </p>
        </section>

        <section>
          <h2 class="text-2xl font-semibold mb-4 ">Contact Information</h2>
          <p>
            For more information, including our Form ADV Part 2A Brochure, visit the SEC’s website at <a href="http://www.adviserinfo.sec.gov" class="text-blue-600 underline">www.adviserinfo.sec.gov</a>.
          </p>
        </section>
      </article>
    </div>
  </section>
</Layout>