---
// src/components/Header.astro
---

<header class="bg-black text-white fixed top-0 left-0 w-full z-50">
  <div class="container mx-auto flex justify-between items-center p-4">
    <a href="/">
      <img src="/1950venture-logo.png" alt="1950 Ventures Logo" class="h-10" />
    </a>
    <nav class="flex space-x-4">
    <a href="/contact">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="36" height="36" fill="#FFFFFF">
  <path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 2v.01L12 11 4 6.01V6h16zM4 18V8l8 5 8-5v10H4z"/>
</svg>
</a>
<!--
      <a href="/contact" class="text-gray-300 hover:text-white mx-2">
      Contact Us
      </a>
-->
    </nav>
  </div>
  <div class="scroll-line bg-blue-500 absolute bottom-0 left-0 h-1" style="width: 0;"></div>
</header>

<style>
  .scroll-line {
    transition: width 0.1s ease;
  }
</style>

<script>
  if (typeof window !== 'undefined') {
    window.addEventListener('scroll', () => {
      const scrollLine = document.querySelector('.scroll-line');
      const docHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      const scrolled = (window.scrollY / docHeight) * 100;
      scrollLine.style.width = `${scrolled}%`;
    });
  }
</script>
