---
import { cn } from "../lib/utils";
const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
import Container from "../components/Container.astro";
---

<header
  class="fixed top-0 w-full h-16 text-black z-50"
  style="background-color: white;"
>
  <Container size="lg">
    <div class="relative h-full w-full flex justify-between items-center">
      <div class="flex items-center">
        <a href="/" class="flex items-center">
          <img
            src="/1950VentureLogo.png"
            alt="1950 Ventures Logo"
            class="md:h-10 h-5"
          />
        </a>
      </div>

      <div class="flex items-center md:hidden">
        <button
          id="menu-button"
          class="flex flex-col md:h-12 md:w-12 h-6 w-6 justify-center items-center group"
        >
          <div
            class="w-6 h-[2px] bg-black mb-1 group-hover:bg-gray-700 transition-all duration-300 ease-in-out"
          >
          </div>
          <div
            class="w-6 h-[2px] bg-black mb-1 group-hover:bg-gray-700 transition-all duration-300 ease-in-out"
          >
          </div>
          <!-- <div class="w-6 h-1 bg-black mb-1 group-hover:bg-gray-700 transition-all duration-300 ease-in-out"></div> -->
        </button>
      </div>

      <div class="hidden md:flex gap-1">
        <a href="/team" class="font-bold hover:text-tertiary"> TEAM </a>
        <div class="w-[1px] bg-black rounded mx-[8px]"></div>
        <a href="/contact" class="font-bold hover:text-tertiary">
          CONTACT US
        </a>
      </div>
    </div>
  </Container>

  <!-- Drawer -->
  <div
    id="drawer"
    class="fixed top-16 left-0 h-screen w-screen bg-white transform -translate-x-full transition-transform duration-300 ease-in-out"
  >
    <div class="flex flex-col p-4 text-center">
      <a href="/team" class="font-bold py-2 hover:text-blue-700">TEAM</a>
      <a href="/contact" class="font-bold py-2 hover:text-blue-700"
        >CONTACT US</a
      >
    </div>
  </div>
</header>

<!-- <style>
  .scrolled {
    background-color: white !important;
  }

  .scrolled .text-current {
    color: white !important;
  }

  .scrolled .hover\:text-white:hover {
    color: white !important;
  }

  .buttons .hover\:text-white:hover {
    color: white;
  }

  .buttons .bg-black {
    background-color: black;
  }
</style> -->

<!-- <script is:inline>
  function handleScroll() {
    const header = document.getElementById("header");
    if (window.scrollY > 0) {
      header.classList.add("scrolled");
    } else {
      header.classList.remove("scrolled");
    }
  }

  function toggleDrawer() {
    const drawer = document.getElementById("drawer");
    const menuButton = document.getElementById("menu-button");

    if (drawer.classList.contains("-translate-x-full")) {
      drawer.classList.remove("-translate-x-full");
      // Change menu button to close button
      menuButton.innerHTML = `
        <div class="w-4 h-[2px] bg-black mb-[8px] transform rotate-45 translate-y-1.5 transition-all duration-300 ease-in-out"></div>
        <div class="w-4 h-[2px] bg-black mb-[8px] transform -rotate-45 -translate-y-1.5 transition-all duration-300 ease-in-out"></div>
      `;
    } else {
      drawer.classList.add("-translate-x-full");
      // Change close button back to menu button
      menuButton.innerHTML = `
        <div class="w-6 h-[2px] bg-black mb-1 group-hover:bg-gray-700 transition-all duration-300 ease-in-out"></div>
        <div class="w-6 h-[2px] bg-black mb-1 group-hover:bg-gray-700 transition-all duration-300 ease-in-out"></div>
      `;
    }
  }
  document
    .getElementById("menu-button")
    .addEventListener("click", toggleDrawer);

  window.addEventListener("scroll", handleScroll);
</script> -->
