---
import BaseHead from "../components/BaseHead.astro";
import "../styles/global.css";
import Header from "./Header.astro";
import Footer from "./components/Footer.astro";

interface Props {
  title: string;
}

const title = "1950 Ventures";
const description = "Venture";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title}`} description={description} />
    <!-- <link rel="stylesheet" href="/src/styles/tailwind.css"> -->
    <style is:global>
      .text-custom {
        font-weight: 200;
      }

      .highlight {
        background-color: #03396c;
        font-weight: 400;
        padding-left: 4px;
        padding-right: 4px;
        color: black;
      }

      .header-color {
        color: #b0b0b0;
        font-size: 1rem;
        margin-top: 100px;
      }

      .content-container {
        width: 75%;
        margin-left: 7%;
      }

      @keyframes slideUp {
        from {
          transform: translateY(20px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }

      .animated-text {
        animation: slideUp 1s ease-out;
      }

      .parallax {
        position: relative;
        width: 100%;
        overflow: hidden;
      }

      .parallax::before {
        content: "";
        /* position: fixed; */
        position: absolute; /* Use absolute to position the image */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
        background-image: url("/backgroundSecondary.jpg");
        animation: zoom-in-out 20s ease-in-out infinite;
      }

      /* .parallax::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffffd9;
       
        z-index: 1;
      } */

      @media (max-width: 768px) {
        .parallax::before {
          transform: none; /* Disable scaling on smaller screens */
          animation: none;
        }
      }

      @keyframes zoom-in-out {
        0%,
        100% {
          background-size: 100%;
        }
        50% {
          background-size: 110%;
        }
      }

      body::-webkit-scrollbar {
        display: none;
      }
      body {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>
  </head>
  <body class="bg-gray-900 text-white parallax">
    <Header />
    <main class="h-full overflow-y-auto scrollbar-hidden">
      <slot />
      <Footer />
    </main>
    <!--    <button id="theme-toggle" class="fixed bottom-4 right-4 p-2 bg-gray-800 text-white bg-gray-200 text-black">Toggle Theme</button>  -->
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const themeToggle = document.getElementById("theme-toggle");
        const currentTheme = localStorage.getItem("theme") || "light";

        if (currentTheme === "dark") {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }

        themeToggle.addEventListener("click", () => {
          document.documentElement.classList.toggle("dark");
          const newTheme = document.documentElement.classList.contains("dark")
            ? "dark"
            : "light";
          localStorage.setItem("theme", newTheme);
        });
      });
    </script>
    <!-- <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent- 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
 
  
    </style> -->
  </body>
</html>
